# Application Information
PORT=7001
SHOW_ERROR_STACK=false
CLIENT_URL='http://localhost:5173'

# Database Information
DATABASE_URL='postgres://postgres:PASSWORD@localhost:5432/databasename'

# Redis Database Information
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# JWT Secret
ACCESS_TOKEN_SECRET=''
REFRESH_TOKEN_SECRET=''
TOKEN_HASH_KEY=''

# Google OAuth Info
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_REDIRECT_URI='http://localhost:7001/api/v1/auth/google/callback'

# Email Credentials (using MailTrap)
MAIL_HOST_URL='live.smtp.mailtrap.io'
MAIL_PORT=587
MAIL_USERNAME=''
MAIL_PASSWORD=''